@(message: String)

<!DOCTYPE html>
<html>
<head>
    <title>Mühle Game</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        #content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 70vh;
        }
    </style>
</head>
<body>
    <h1>Mühle Game</h1>
    <div id="content">
        <pre>@Html(message)</pre>
    </div>
</body>
</html>

