<!DOCTYPE html>

<head>
  <title>Mühle Game</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
  <header class="bg-dark text-white text-center py-2">
    <div class="container">
    <br>
        <h1>MILL GAME</h1>

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Startseite <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/rules">Regeln</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Abgaben
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/htmlGame">HTML GAME</a>
                            <a class="dropdown-item" href="/game">TXT GAME</a>
                            <a class="dropdown-item" href="/board">CSS GAME</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/board">GAME</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<br>
<div class="container">
  <div class="row">
      <div class="col">
          <div class="container-fluid">
              <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
                  <div class="carousel-inner">
                      <div class="carousel-item active">
                          <img src="assets/images/bt.jpg" class="d-block w-25" alt="...">
                      </div>
                      <div class="carousel-item">
                          <img src="assets/images/css.jpg" class="d-block w-25" alt="...">
                      </div>
                      <div class="carousel-item">
                          <img src="assets/images/HTML5_logo.png" class="d-block w-25" alt="...">
                      </div>
                      <div class="carousel-item">
                          <img src="assets/images/js.jpg" class="d-block w-25" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="assets/images/scala.png" class="d-block w-25" alt="...">
                    </div>
                  </div>
                  
              </div>
          </div>
      </div>
      <div class="col">

      <div class="col">
        </div>
      </div>
    </div>
  </div>
  <row>
    <div class="col">

    </div>
    <div class="col">
      
    </div>
    <div class="col">
      
    </div>
  </row>
</div>

  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    </ul>
    <p class="text-center text-muted">© 2023 MILLGAMES, Inc</p>
  </footer>

<!-- Latest compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>